{% extends "base.html" %}
{% block breadcrumb %}
{{ page.title }}
{% endblock %}

{% block content %}
<div class="pages col-sm-12">
  <div class="well page active">
    {{ page.content }}
  </div>

  {% if page.title == "home" %}
    <div class="well page">
    <h3 class="text-center">Recent News</h3>
    {% for article in articles|sort(attribute='date', reverse=True) %}
    {% if loop.index0 <= 2 %}
      <div class="row">  
        {{ article.date|strftime("%d %b %Y") }}: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        {{ article.content|striptags|truncate(255) }}
      </div>
    {% endif %}
    {% endfor %}
    </div>
  {% endif %}

</div>
{% endblock %}
